.Georgia {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
}

.Tahoma {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 20px;
}

.Times {
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    font-size: 20px;
}

.Verdana {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
}